.header-item {
    height:70px;
}
.header-item:hover {
    background-color: #1f98dd;
}
.borderleft {
    border-left: 4px solid white;
}
.borderright {
    border-right: 4px solid white;
}
.headercolor {
    background-color: #1676c3;
    //text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.headercolor a {
    color:white;
    text-decoration:none;
    display:block;
}
.leftmenu {

}

.nopadding {
    padding-left:0px;
    padding-right:0px;
}
.paddingtop {
    padding-top:10px;
}

.divitem {
    border: 1px solid #ddd;
}
.gobuttontop {
    margin:-8px 0px 0px 0px;
}
footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

.input-group span {
    min-width: 140px;
    text-align: left;
}

#ratechoose {
    font-size: 16px;
}

.width-100-percent {
    width:100%;
}

.nomargin {
    margin: 0px 0px 0px 0px;
}

.margin {
    margin:0px 8px 8px 8px;
}

.margintop {
    margin-top: 8px;
}

.largefont {
    font-size:16px;
}

.whitetext {
    color:white;
}

.paddingleftright {
    padding-left:20px;
    padding-right:20px;
}

.boxshadow {
    box-shadow: 0px 5px 5px #888888;
}

#contacts li {
    margin-bottom: 12px;
}

iframe {
    border:0px;
}

body {
    padding-bottom: 70px;
}

.error {
    color: red;
}
#pop-cont .popover {
    max-width: 400px;
}
#customerinfo .popover {
    max-width: 400px;
}