body > div.navbar {
    height: 70px;
}

body > footer {
    margin-top: -60px;
}
.header-item {
    height:70px;
}
.header-item:hover {
    background-color: #1f98dd;
}
.borderleft {
    border-left: 4px solid white;
}
.borderright {
    border-right: 4px solid white;
}

.borderleftsmall {
    border-left: 2px solid white;
}
.borderrightsmall {
    border-right: 2px solid white;
}

.headercolor {
    background-color: #1676c3;
    //text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.headercolor a {
    color:white;
    text-decoration:none;
    display:block;
}
.leftmenu {
    padding-left: 0;
}

.nopadding {
    padding-left:0px;
    padding-right:0px;
}

.paddingtop {
    padding-top:10px;
}

.divitem {
    border: 1px solid #ddd;
}
.gobuttontop {
    margin:-8px 0px 0px 0px;
}
footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

.input-group span {
    min-width: 140px;
    text-align: left;
}

#ratechoose {
    font-size: 16px;
}

.width-100-percent {
    width:100%;
}

.nomargin {
    margin: 0px 0px 0px 0px;
}

.margin {
    margin:0px 8px 8px 8px;
}

.margintop {
    margin-top: 8px;
}

.margintoplarge {
    margin-top: 0px;
}

.largefont {
    font-size:22px;
}

.largefont28 {
    font-size:32px;
}

.whitetext {
    color:white;
}

.paddingleftright {
    padding-left:20px;
    padding-right:20px;
}

.boxshadow {
    box-shadow: 0px 5px 5px #888888;
}

#contacts li {
    margin-bottom: 12px;
}

iframe {
    border:0px;
}

body {
    height: 100%;
}
html{
    height: 100%;
}

.error {
    color: red;
}
#pop-cont .popover {
    max-width: 400px;
}
#customerinfo .popover {
    max-width: 400px;
}
div.body-wrapper {
    min-height: 100%;    
    padding-bottom: 70px;    
}

.display-block {
    display: inline-block;
    padding-top: 10px;
    width:100%;
    height:100%;
    vertical-align:middle;
}

.background {
    background: url(../images/bg.gif);
}

.hidden {
    display:none;
}

.topic {
    background-color: #fff;
}

.layer2 {
    position: absolute;
    background: url(../images/bg_topic.png) 72% 100%;
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 384px;
    margin-left: -10px;
}

#header-logo {
    width:380px;
    height:100px;
}

.galka {
    color:green;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#btn-get-order {
    margin-bottom: 15px;
}
.disabled>a {
    cursor: default!important;
}
.myhidden {
    z-index: -81;
    margin-top: -9999px;
    opacity: 0;
    width: 100%;
}
#map{
    overflow: hidden;
}
/*.nav-stacked>.panel-heading {
margin-bottom: -2px;
}*/
.menu-phone-item > div {
    font-size: 27px;
}
.menu-phone-item > div > span {
    font-size: 32px;
    line-height: 27px;
}
.menu-phone-item {
    background-color: transparent!important;
}